*,
*:after,
*:before{
  box-sizing: border-box;
}
body,div,section,header,footer,input,p,ul,li,main,form,input,h1,h2,h3,h4,h5,img{
  margin:0;
  padding:0;
}
body{
  width:100%;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5em;
}
footer{
  background-color:#333;
  border-top:4px solid #2f86c5;
  color:#fff;
}
a{
  color:inherit;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
h5{
  font-size:0.8em !important;
}
ul,li{
  list-style:none;
}
a:visited{
  color:inherit;
}
a:hover,
a:focus{
  text-decoration: none !important;
}
.flex, .flex-in{
  width:100%;
  margin: 0 auto;
  max-width:960px;
  display:flex;
  flex-flow: row wrap;
}
.flex{
  justify-content: center;
  align-items: center;
}
.flex-in{
  justify-content: space-between;
  padding:25px 0;
}
.flex-down{
  display:flex;
  flex-direction: column;
}

.flex.out{
  justify-content: space-between;
}
.child{
  width:100%;
  margin:0 auto;
}
main{
  min-height:72vh;
  padding:75px 12.5px 12.5px 12.5px;
}
main .flex-in a:hover{
  text-decoration: underline !important;
  text-decoration-color:inherit;
}
.archive-group .mark a:hover,
.archive-group .mark a:focus,
.archive-item .mark:focus,
.archive-item .mark:focus{
  -moz-text-decoration-color: #fff !important;
  text-decoration-color: #fff !important;
}
nav a{
  flex: 1 auto;
  padding: 8px 15px;
  margin:0.5px;
  background-color:#343434;
  transition: all 0.3s ease-in-out;
  color:#fff !important;
}
nav a:hover{
  background-color:#fff;
}
.brand,
nav a:hover{
  text-decoration: none;
}
.main-menu{
  background-color: #2f86c5;
}
main img{
  margin:0 auto 7.5px 0;
  width: 100%;
}
footer > header.flex{
  padding: 0 !important;
}
footer .child{
  margin:0;
}
footer header .quad {
  padding: 5px 15px;
}
footer header .duo {
  background-color: #2f86c5;
}
.foot-links{
  border-top:1px solid #666;
  padding:7.5px;
}
.foot-links:after{
  content: '';
  display: table;
  clear:both;
}
.foot-links a{
  display: inline-block;
  float: left;
  padding: 0px 10px;
  border-right: 1px solid rgb(105, 105, 105);
}
.foot-links a:last-of-type{
  border-right: 0;
}
.copyrights{
     float: right;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-top: 10px;
    margin-right: 15px;
    padding-bottom: 10px;
}
.post-content p{
  padding:10px 0;
}
.post-excerpt{ 
    color: #333;
    padding: 20px 0;
}
h1.post-title{
  font-size:24px;
  line-height: 27px;
  margin: 15px 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ads-container{
  display: flex;
  width:100%;
  margin:20px auto 10px auto;
  justify-content: center;
}
.more{
  width:100%;
  background-color: #fff796;
  text-align: center;
  font-size: 20px;
  font-weight:bold;
  margin:5px auto;
  text-transform: uppercase;
  padding:12.5px;
}
.category-head{
  width:100%;
  padding:7.5px 12.5px;
  margin:0;
  font-size: 1em;
  color:#fff;
}
.mark .category-head{
  text-align: center;
}
.archive-item{
  border-bottom: 1px solid #aaa;
  padding:15px 7.5px;
}
.archive-item:last-child{
  border-bottom: none;
}
.social{
  display: inline-flex;
  height:32px;
  width:32px;
  color:#fff;
  margin:5px; 
}
.social .fa{
  color:inherit;
}
.facebook {
    background-color: rgb(59, 89, 152);;
}
.envelope {
    background-color: #444444;
}
.reddit {
    background-color: #ff5700;
}
.twitter {
    background-color: rgb(29, 161, 242);
}
.toggle-menu,
.header{
  position:fixed;
  z-index:99;
}
.header{
  width:100%;
  top:0;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0,0,0,.35);
  border-top:4px solid #2f86c5;
}
header{
  position:relative;
}
.main-container{
  width:100%;
  max-width:960px;
  min-height: 480px;;
  height: 75%;
  margin:0 auto;
  display: flex;
  align-items: center;

}
.main-container h1,
.main-container h2,
.main-container h3{
  color:#333;
  font-weight:bold;
}
.main-container p{
  padding:12.5px 0;
  color:#333;
}
.main-container > div{
  width:100%;
  max-width:960px;
  margin:0 auto;
}
.brand,
.desc{
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -1px;
  color:#333;
}
.desktop{
  display:none;
}
.desc{
  color:#fff;
  padding:7.5px 25px;
}
.toggle-menu{
  top:3px;
  right:0;
  background-color:#343434;
  color:#fff;
  cursor:pointer;
  font-size: 21px;
  width:56px;
  height:56px;
}
.top-header{
  justify-content: flex-start !important;
  align-items: stretch !important;
}
.brand{
  margin-left:12.5px;
  margin-right:10px;
  background-size:100%;
  width:150px;
  height: 50px;
  background-repeat: no-repeat;
}
.brand{
  height:50px;
}
.title{
  padding:0;
  align-items:center;
}
.top-header .quad:last-of-type,
.top-header nav{
  display: none;
}
nav.toggled{
  display:block;
  background-color:#343434;
}
nav.toggled + .quad:last-of-type{
  display: flex;
  min-height:90px;
  border-bottom: 4px solid#2f86c5;
}
nav.toggled a{
  display:block;
  width:100%;
  padding: 10px 0 10px 25px;
  font-size: 20px;
  font-weight: bold;
  border-bottom:1px solid #aaa;
}
nav.toggled a:last-child{
  border-bottom:none;
}
nav.toggled .desc{
  background-color: #2f86c5;
  width:100%;
  padding:10px 0;
}
nav.toggled .expands{
  flex-direction: column;
}
.meta-tags a {
  color: #FFF;
  padding: 7.5px;
  display: inline-block;
  background: #343434 none repeat scroll 0% 0%;
  text-decoration: none;
  margin: 2.5px;
}
.more-list h2{
  padding-bottom:20px;
}
  .previous-next{
    width:100%;
    background-color: #fff795;
    padding:12.5px;
    margin:10px 0;
    font-size:20px;
  }
  .half{
    width:50%;
  }
  .move .half{
    padding:2.5px;
  }
  .previous-post{
    text-align: left;
  }
  .nex-post{
    text-align:right;
  }
  .related-posts .duo:nth-child(5){
    display: none;
  }
  .related-posts .duo{
    padding: 12.5px 0;
  }
  .quad{
    width:100%;
  }
  .main-menu img{
    width:100%;
    max-width: 300px;
  }
  .hold-featured{
    position: relative;
    width: 100%;
    padding:0;
    margin:0;
  }
  .featured{
    align-items: stretch;
    line-height: 32px;
    padding-bottom:0;
  }
  .featured .items{
    width:100%;
    position:relative;
  }
  .featured .items:last-child{
    flex-grow: 2;
  }
  .featured .items span{
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    color:#fff;
    bottom:0;
    right:0;
    padding:0 7.5px;
    font-size:20px;
    font-weight: 700;
  }
  .featured img{
    margin: 0;
  }
  .featured .child{
    padding:0 !important;
    margin:0 !important
  }
  .featured .flex{
    flex-direction:column;
    justify-content: stretch; 
  }
  .featured .catch{
    background-color: #fff795;
    font-size: 40px;
  }
  .featured .catch div:last-child {
      padding: 12px 15px;
      margin-top: 0;
  }
  .featured .catch div {
      font-weight: 700;
      padding:12px 15px 0 15px;
  }
  .featured h1{
    color: #fff !important;
    font-size:32px;
    padding:20px 15px;
    line-height: 34px;
    width:100%;
  }
  .right{
    text-align:right;
  }
  .post-list .post-item{
    align-items: stretch;
  }
  .post-item{
    padding:0;
    border-top: 1px solid #aaa ;
  }
  .post-summary p{
    flex-grow: 1;
  }
  a.child.main,
  .share-box a {
     line-height: 0; 
}
    .share-button {
      border: none;
  }
  .share-box{
    display: flex;
    justify-content: flex-start;
    position:absolute;
    z-index:2;
    bottom:-215px;
    width:100%;
    max-width:540px;
    padding:0;
  }
  .share-box a{
    color:#fff !important;
  } 
  .share-box a{
    position:relative;
    flex-grow: 1;
    margin:0 1.5px 1.5px 1.5px;
    border-radius:2.5px 4px;
    padding:6px 3px;
    max-width:84px;
    text-align: center;
    padding-bottom: 9px;
    color:#fefefe;
    transition:color 0.3s ease-in;
  }
  .share-box:hover{
    color:#fff;
  }
  .share-box .fa{
    position: relative;
    z-index:5;
  }
  .share-box a:before,
  .share-box a:after{
    content:'';
    position: absolute;
    left:0;
    width:100%;
    padding:4px;
    border-radius:0 0 2.5px 2.5px;
  }
  .share-box a:after{
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    z-index:1;
  }
  .share-box a:before{
    bottom: 4px;
    z-index:3;
    padding: 2.5px;
    background-color:inherit;
  }
  .holder{
    margin: 0;
    padding: 0;
  }
  .holder .share-box,
  .holder{
    position: relative;
    top:0;
    margin:0;
  }
  .fb-holder{
    padding:3%;
    width:100%;
    min-height:100px;
    max-height:250px;
  }
  .holder .share-box{
    left:0;
  }
 
.featured .title{
  min-height: 180px;
  color:#fff;
}
.loadMore{
   background-color: #2f86c5;
   color:#fff;
   padding:15px;
   font-size:1em;  
   font-weight: bold;
   padding-right:50px;
   position:relative;
   border:none;
   outline:none;
   cursor:pointer;
}
.loadMore span:last-of-type{
   position:absolute;
   right:0;
   top:0;
   padding:15px;
   background-color: #343434;
   color:inherit;
}
.browse{
  padding: 8px 15px;
  font-size: 24px;
  color: #fff;
  background-color: #343434;
  display:none;
  position: relative;
  cursor:pointer;
  max-width:360px;
}
.browse span{
  padding:8px;
  position:absolute;
  right:10px;
  top:0;
}
.expands{
  display:flex;
}
@media screen and (max-width: 400px) {
  .share-box a span{
    display: none;
  } 
}
@media screen and (max-width: 667px) {
  .title{
    height:56px;
  }
  .top-header .small:last-of-type{
    color:#fff;
    padding:25px 0;
    justify-content: center;
    background-repeat: no-repeat;
    border-bottom:3px solid #2f86c5;
  }
  .featured .title{
    position: absolute;
    top:100%;
  }
  .featured h1 {
    margin:0;
    padding:15px 20px;
    font-size:28px;
  }
  .featured .catch div:last-child {
      padding: 12px 30px;
      margin-top: 0;
  }
  .featured .catch div {
      font-weight: 700;
      padding:12px 15px 0 15px;
  }
  .featured h1{
    color: #fff !important;
    font-size:32px;
    line-height: 34px;
  }
  .hold-featured{
    margin-bottom: 200px;
  }
  .post-item{
    position:relative;
    padding-top:25px;
  }
  .post-summary p:first-child{
    position: absolute;
    width: 100%;
    top:5px;
  }
  .flex-in{
    padding:0;
  }
  footer header .duo{
    order:-1;
  }
  footer header .quad{
    width:50%;
  }
  .foot-links .flex-in{
    padding: 0 25px;
  }
}

@media screen and (min-width: 667px) and (max-width: 832px){
  h1{
    font-size: 24px !important;
    line-height: 27px !important;
  }
  .featured .catch{
    padding:5px !important;
  }
  .featured .catch,
  .featured .title h1{
    font-size: 28px !important;
    line-height: 30px !important;
  }
  .featured h1{
    margin:10px 0;
    padding:0 15px;
  }
  .featured .main img{
    display:none;
  }
  .browse {
    display: block;
  }
  .expands{
    display: none;
    height:0;
    transition: all 0.3s ease-in;
  }
  .expands{
    background-color: #343434;
  }
  .expanded{
    display: block;
    position:absolute;
    height: initial;
    width:360px;
  }
  .expanded a{
    display: block;
    text-align:left;
    margin-top:15px;
    margin-bottom: 15px;
    border-bottom:1px solid #777;
  }
  .expanded a:last-child{
    border-bottom: none;
  }
  
}
@media screen and (min-width: 667px) {
  .share-box{
    left:34%;
    bottom:0;
  }
  .desktop{
    display: block;
  }
  .mobile{
    display:none;
  }
  h1{
    font-size:34px;
    line-height:40px;
  }
  h1.post-title{
    font-size: 36px;
    line-height: 50px;
  }
  .top-header .quad:last-of-type{
    color:#fff;
    display: flex;

    width:20%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-header .quad.title{
    width: 24%;
  }
  nav a{
    text-align: center;
    padding:8px;
    font-size:24px;
    display: inline-block;
  }
  .featured .main{
    width:67% !important;
    padding-left:0 !important;
  }
  .main-menu{
    padding:0 25px;
    position: relative;
  }
  .top-header nav{
    display:block;
    width:56%;
  }
  .toggle-menu{
    display: none;
  }
  .duo{
    width:50%;
  }
  .foot-links .child,
  .foot-links .flex-in{
    padding:0;
  }
  .foot-links .flex-in{
    flex-flow: row nowrap;
  }
  .third{
    width:33%;
  }
  .quad{
    width:25%;
  }
  .small{
    width:12.5%;
  }
  .main{
    width: 67%;
  }
  .desc{ 
    padding:4px 0;
  }
  .top-header .quad{
    width:22%;
  }
  .header header{
    padding:0 15px;
  }
  .brand{
    width: 215px;
    height: 65px;
    margin: 15px;
    margin: 0 auto 5px auto;
    background-image: url({{ site.baseurl }}/assets/header-logo.png);
    margin:0;
  }
  .main-menu img{
    max-width: 480px;
    max-height: 36px;
    margin-bottom: 10px;
  }
  header,
  main{
    max-width:960px;
    padding:90px 15px 75px 15px;
    margin:0 auto;
  }
  main{
    position: relative;
  }
  article.post.child.main {
    padding: 0 20px 0 0;
  }
  .post-item .post-image {
    padding-right: 25px;
  }
  .post-item{
    align-items: stretch;
  }
  ul.more-list {
    padding-right: 25px;
  }
  .related-posts{
    align-items: flex-start;
  }
  .related-posts .duo{
    padding: 15px 0;
  }
  .related-posts .duo:nth-child(2n+1){
    padding-right:10px;
  }
  .related-posts .duo:nth-child(2n){
    padding-left:10px;
  }
  .loadMore{
    width: calc(100% - 25px);
    margin:0;
  }
}
@media screen and (min-width: 959px){
  .top-header,
  main{
    flex-basis: 100%;
    max-width: 960px;
    width:960px;
    margin:0 auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .ads-container{
       position: relative;
       
     }
     main {
       padding: 0 15px 75px 15px;
     }
     .main-container > div:first-of-type,
     main > .flex-in:first-of-type{
         padding-top:96px;
     }
}
 /* css with ruby code  */

   .featured .title.politics {
     background-color: #993333;
     font-size:32px;
   }
  .category-head.politics {
     background-color: #993333;
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .politics:hover,
  nav .politics:focus {
    color: #993333 !important;
  }
  span.politics a{
    text-decoration-color: #993333;
   }
  span.politics {
    color: #993333;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.politics {
    color: #993333;
  }

   .featured .title.sports {
     background-color: #009966;
     font-size:32px;
   }
  .category-head.sports {
     background-color: #009966;
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .sports:hover,
  nav .sports:focus {
    color: #009966 !important;
  }
  span.sports a{
    text-decoration-color: #009966;
   }
  span.sports {
    color: #009966;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.sports {
    color: #009966;
  }

   .featured .title.tech {
     background-color: #336699;
     font-size:32px;
   }
  .category-head.tech {
     background-color: #336699;
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .tech:hover,
  nav .tech:focus {
    color: #336699 !important;
  }
  span.tech a{
    text-decoration-color: #336699;
   }
  span.tech {
    color: #336699;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.tech {
    color: #336699;
  }

   .featured .title.local {
     background-color: #cc6633;
     font-size:32px;
   }
  .category-head.local {
     background-color: #cc6633;
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .local:hover,
  nav .local:focus {
    color: #cc6633 !important;
  }
  span.local a{
    text-decoration-color: #cc6633;
   }
  span.local {
    color: #cc6633;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.local {
    color: #cc6633;
  }

   .featured .title.life {
     background-color: #9933cc;
     font-size:32px;
   }
  .category-head.life {
     background-color: #9933cc;
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .life:hover,
  nav .life:focus {
    color: #9933cc !important;
  }
  span.life a{
    text-decoration-color: #9933cc;
   }
  span.life {
    color: #9933cc;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.life {
    color: #9933cc;
  }
.brand{
    background-image: url({{ site.baseurl }}/assets/header-logo-small.png);
}
.top-header .quad:last-of-type{
  background-image: url({{ site.baseurl }}/assets/girl.png), url({{ site.baseurl }}/assets/paper.png);
  background-repeat: no-repeat;
}
#ic_signupform .elcontainer {
  background-image: url({{ site.baseurl }}/assets/girls.png);
}