/* css with ruby code  */
{% for category in site.data.categories %}
   .featured .title.{{ category.name }} {
     background-color: {{ category.color }};
     font-size:32px;
   }
  .category-head.{{ category.name }} {
     background-color: {{ category.color }};
     color:#fff;
     font-size:20px;
     display:block;
     padding:8px 12px;
   }
  nav .{{ category.name }}:hover,
  nav .{{ category.name }}:focus {
    color: {{ category.color }} !important;
  }
  span.{{ category.name }} a{
    text-decoration: color: {{ category.color }};
   }
  span.{{ category.name }} {
    color: {{ category.color }};
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
  }
  h1.post-title.{{ category.name }} {
    color: {{ category.color }};
  }
{% endfor %}
.brand{
    background-image: url({{ site.baseurl }}/assets/header-logo-small.png);
}
.top-header .quad:last-of-type{
  background-image: url({{ site.baseurl }}/assets/girl.png), url({{ site.baseurl }}/assets/paper.png);
  background-repeat: no-repeat;
}
#ic_signupform .elcontainer {
  background-image: url({{ site.baseurl }}/assets/girls.png);
}
@media screen and (min-width: 667px) {
  .brand{
    background-image: url({{ site.baseurl }}/assets/header-logo.png);
    margin:0;
  }
}