/* Css with ruby code  */
{% for category in site.data.categories %}
   .featured .title.{{ category.name }} {
     background-color: {{ category.color }};
     font-size:32px;
   }
  nav a.{{ category.name }}:hover{
     color: {{category.color }} !important;
  }
  .category-head.{{ category.name }} {
     background-color: {{ category.color }};
     color:#fff;
   }
  span.{{ category.name }} {
    color: {{ category.color }};
  }
  h1.post-title.{{ category.name }} {
    color: {{ category.color }};
  }
{% endfor %}
.brand{
    background-image: url({{ site.baseurl }}/assets/header-logo-small.png);
}
.top-header .small:last-of-type{
  background-image: url({{ site.baseurl }}/assets/girl.png), url({{ site.baseurl }}/assets/paper.png);
}
