@font-face {
  font-family: 'fontello';
  src: 
       url('{{ site.baseurl }}/assets/fontello.woff?2620904') format('woff');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-facebook:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-left:before { content: '\e802'; }
.icon-right:before { content: '\e803'; } 
.icon-envelope:before { content: '\e804'; } 
.icon-close:before { content: '\e805'; } 
.icon-bars:before { content: '\e806'; } 
.icon-arrow-down:before { content: '\e807'; }
.icon-arrow-up:before { content: '\e808'; } 
.icon-reddit:before { content: '\f281'; } 